:root{
    --cor-destaque: #d4af37;
    --cor-destaque-reverso: #d4af37a5;
}

.container{
    width: 100%;
}


.img-container{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-image: linear-gradient(rgba(10, 17, 40, 0.514)), url(../img/atuacao.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    background-position: left center;
    height: 320px;
}

.img-container h1{
    color: white;
    font-weight: bold;
    font-size: 2.5em
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icons li{
    margin-left: 20px;
    transition: 0.4s;
}

.icons li:hover{
    transform: scale(1.1);

}

.icons i:hover{
       color: var(--cor-destaque-reverso);
}

summary{
    font-size: 1.2em;
}

i{
    color: var(--cor-destaque);
    font-size: 1.5em;
}

.atuacao-container{
    display: grid;
    grid-template-columns: auto 80vw auto;
    justify-content: center;
    align-items: center;
    align-self: self-start;
}

.atuacao-container article{
    grid-column: 2 / 3;
    background-color: #0E183A;
    color: white;
    margin:  3px 0;
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.atuacao-container article:hover{
    transform: scale(1.1);
}

.atuacao-container ul{
    background-color: white;
    color: black;
    padding: 10px;
    list-style-position: inside;
    transition: 0.5s;
}

footer{
    margin-top: 20px;
}
