:root{
    --cor-primaria: #0E183A;
    --cor-secundaria: #D4AF37;
    --background-body: #F4F7F9;
}
/*Mobile First*/
body{
    background-color: #F4F7F9;
    display: grid;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: auto 90vw auto;
    margin-top: 40px;
}

article{
    padding: 25px;
    grid-column: 2 /2;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.293);
}

.atendimento{
    margin: -25px;
    margin-bottom: 15px;
    padding: 30px;
    background-color: var(--cor-primaria);
    color: white;
}

.atendimento h1{
    color: var(--cor-secundaria);
}

.container-form{
    font-weight: bold;
}

.container-form label{
    font-size: 1.1em;
}

.container-form h2{
    font-size: 1.4em;
    margin-bottom: 15px;
}

.container-form div{
    margin-bottom: 15px;
}

label{
    margin-bottom: 10px;
}

input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #EEEEEE;
    margin-top: 5px;
}

footer{
    margin-top: 20px;
}

