:root{
    --cor-primaria: #0E183A;
    --cor-secundaria: #D4AF37;
    --background-body: #F4F7F9;
}
/*Mobile First*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F4F7F9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 5%;
}

article{
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.293);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    max-width: 900px;
}

.atendimento{
    flex: 1 1 300px;
    background: #0a1128;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.atendimento h1{
    color: var(--cor-secundaria);
    margin-bottom: 20px;
}

.atendimento p{
    margin-top: 10px;
}

.container-form{ 
    flex: 1.5 1 400px;
    padding: 40px;
}

.container-form label{
    font-size: 1.1em;
}

.container-form h2{
    font-size: 1.4em;
    margin-bottom: 15px;
}

.container-form div{
    margin-bottom: 15px;
}

label{
    margin-bottom: 10px;
    font-weight: bold;
}

input{
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #EEEEEE;
    margin-top: 5px;
    transition: 0.3s;
}

textarea{
    margin-top: 10px;
    resize: none;
    width: 100%;
    border: 1px solid #EEEEEE;
    padding: 10px;
    transition: 0.3s;
}

textarea:focus-within{
    outline: none;
    box-shadow: 0px 0px 4px var(--cor-secundaria);
}

.btn{
    background-color: var(--cor-secundaria);
    font-weight: bold;
    text-align: center;
    padding: 10px;
    height: 50px;
    text-transform: uppercase;
}

.btn:hover{
    color: white;
    background-color: var(--cor-primaria);
    cursor: pointer;
}

input:focus-within{
    outline: none;
    box-shadow: 0px 0px 4px var(--cor-secundaria);
}

/*Config telas maiores*/
@media screen and (min-width: 768px) {
    .atendimento{
        flex-direction: column; 
    }
}

