body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 90vw auto;
    background-color: #F4F7F9;
}

header{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

main{
    display: flex;
    flex-flow: column nowrap;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-content: center;
    align-items: center;
}

article{
    width: 80%;
    transition: 0.3s;
}

.title{
    text-align: center;
    margin-bottom: 10px;
}

.title h1{
    width: 250px;
    margin: 10px auto;
    border-bottom: 5px solid #d4af37;
}

.title p{
    font-weight: bold;
}

.map{
    width: 100%;
    aspect-ratio: 16 / 9;
}

iframe{
    transition: 0.6s;
}

.map iframe:hover{
    transform: scale(1.1);
    margin: 20px 0;
}

footer{
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}