@media screen and (max-width: 768px) {
    .navbar{
        padding: 1.2rem 5%;
    }

    .menu-icon{
        display: flex;
        z-index: 1001;
    }

    .nav-links{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 70%;
        background: #0a1128;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
    }

    .nav-links li{
        margin: 20px 0;
    }

    .nav-links a{
        font-size: 1.2rem;
    }

    #menu-toggle:checked ~ .nav-links{
        right: 0;
    }

    #menu-toggle:checked ~ .menu-icon span:nth-child(2){
        opacity: 0;
    }

    #menu-toggle:checked ~ .menu-icon span:nth-child(3){
        transform: rotate(-45deg) translate(6px, -6px);
    }
}